:root {
  --scrollBarW: 10px;
  --borderRadius: 10px;
}

body {
  font-size: 20px;
}
* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 700;
  user-select: none;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}
*::-webkit-scrollbar {
  width: var(--scrollBarW);
  height: 8px;
  border-radius: 8px;
}
*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 4px;
}
*::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid #cfcfcf;
}
*::-webkit-scrollbar-thumb:hover {
  background: #f7f7f7;
}
*::-webkit-scrollbar-thumb:active {
  background-color: #3de2fc18;
}
